# node modules
/node_modules

#client secret files
/client_secret.json

#spreadsheet backup
/src/spreadsheet_bk.js

#credentials files
/credentials.json

#client secret files
/src/client_secret.json

#authentication files
/authentication.json